<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Remove .php extension from about
    RewriteRule ^about$ about.php [NC,L]

</IfModule>

<Files ".env">
    Require all denied
</Files>

# TODO
# Error documents
#ErrorDocument 404 /404.html
#ErrorDocument 403 /403.html