<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Remove .php extension from about
    RewriteRule ^about$ about.php [NC,L]

</IfModule>

<Files ".env">
    Require all denied
</Files>

<IfModule mod_headers.c>
    # Enable range requests for audio/video
    <FilesMatch "\.(mp3|m4a|ogg|wav)$">
        Header set Accept-Ranges bytes
    </FilesMatch>
</IfModule>

# TODO
# Error documents
#ErrorDocument 404 /404.html
#ErrorDocument 403 /403.html